
.thumnailGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill,400px);
    grid-auto-rows:400px;
    padding-left: 70px;
}

.container {
    background-color:black;
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
}

/* Opening */

.shutter{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#1e1e1e;
    z-index:9999;
    background-image:url(../img/logo.png);
    background-repeat:  no-repeat;
    background-size: 30%;
    background-position: center;
    -webkit-animation: byeShutter 2.6s forwards;
            animation: byeShutter 2.6s forwards;
  }
  
  .shutter::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-color: rgb(63, 63, 63);
    width: 0;
    height: 1px;
    -webkit-animation: shutterOpen 2.6s forwards;
            animation: shutterOpen 2.6s forwards;
  }
  .content {
    -webkit-animation: contentScale 2.6s forwards;
            animation: contentScale 2.6s forwards;
  }
  
  @keyframes byeShutter {
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none;
      z-index: -1;
    }
  }
  
  @keyframes shutterOpen {
    0% {
      width: 0;
      height: 1px;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    90% {
      width: 100%;
      height: 100%;
    }
    100% {
      width: 100%;
      height: 100%;
    }
  }
  
  @keyframes contentScale {
    70% {
      -webkit-transform: perspective(800px) scale(0.9) rotateX(15deg);
              transform: perspective(800px) scale(0.9) rotateX(15deg);
    }
    100% {
      -webkit-transform: perspective(800px) scale(1) rotateX(0);
              transform: perspective(800px) scale(1) rotateX(0);
    }
  }
  
  
  
