.thumnailGrid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,33%);
}

.container {
    background-color:black;
    width: 100%;
    min-height: 100vh;
}

