
.above{
    margin-top: 20px;
    background-color: beige;
 
}

.thumnailGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill,400px);
    grid-auto-rows:400px;
    padding-left: 70px;
}

.container {
    background-color:black;
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
}
