.container {
  background-color: gray;
  display: grid;
  /* grid-template-columns: 55px 55px 705px 55px 55px 55px 55px 55px 55px 55px; */
  /* grid-template-columns: 2% 5% 61% 5% 5% 5% 5% 5% 5% 2%; */
  grid-template-columns: 0.3fr 1fr 10fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.3fr;
}

.image {
  width: 2.2em;
  height: 2.2em;
}

.button {
  background-color: transparent;
  width: 2.2em;
  height: 2.2em;
  padding: 0;
  margin: auto;

  border: none;
  outline: none;
}

.wrapper {
  display: flex;
}

.button_2 {
  background-color: #333;
  color: #fff;
  font-weight: 800;
  font-size: 1em;

  width: 2.2em;
  height: 2.2em;

  border: 0.1em solid #333;
  border-radius: 50%;
  outline: none;
}

.button_2:hover {
  background-color: #fff;
  color: #333;
}


input[type="range"] {
  -webkit-appearance: none; /* 🚩これ無しだとスタイルがほぼ全く反映されないので注意 */
  appearance: none;
  cursor: pointer; /* カーソルを分かりやすく */
  outline: none; /* スライダーのアウトラインは見た目がキツイので消す */
  height: 14px; /* バーの高さ */
  width: 100%; /* バーの幅 */
  background: #8acdff; /* バーの背景色 */
  border-radius: 10px; /* バーの両端の丸み */
  border: solid 3px #dff1ff; /* バー周囲の線 */
}
/* WebKit向けのつまみ */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /*  🚩デフォルトのつまみのスタイルを解除 */
  background: #53aeff; /* 背景色 */
  width: 24px; /* 幅 */
  height: 24px; /* 高さ */
  border-radius: 50%; /* 円形に */
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15); /* 影 */
}
/* Moz向けのつまみ */
input[type="range"]::-moz-range-thumb {
  background: #53aeff; /* 背景色 */
  width: 24px; /* 幅 */
  height: 24px; /* 高さ */
  border-radius: 50%; /* 円形に */
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15); /* 影 */
  border: none; /* デフォルトの線を消す */
}
/* Firefoxで点線が周りに表示されてしまう問題の解消 */
input[type="range"]::-moz-focus-outer {
  border: 0;
}
/* つまみをドラッグしているときのスタイル */
input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
}
