.container {
  background-color: gray;
  display: grid;
  /* grid-template-columns: 55px 55px 705px 55px 55px 55px 55px 55px 55px 55px; */
  /* grid-template-columns: 2% 5% 61% 5% 5% 5% 5% 5% 5% 2%; */
  grid-template-columns: 0.3fr 1fr 10fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.3fr;
}

.image {
  width: 2.2em;
  height: 2.2em;
}

.button {
  background-color: transparent;
  width: 2.2em;
  height: 2.2em;
  padding: 0;
  margin: auto;

  border: none;
  outline: none;
}

.wrapper {
  display: flex;
}

.button_2 {
  background-color: #333;
  color: #fff;
  font-weight: 800;
  font-size: 1em;

  width: 2.2em;
  height: 2.2em;

  border: 0.1em solid #333;
  border-radius: 50%;
  outline: none;
}

.button_2:hover {
  background-color: #fff;
  color: #333;
}
