.container {
  background-color: gray;
  display: grid;
  /* grid-template-columns: 55px 55px 705px 55px 55px 55px 55px 55px 55px 55px; */
  /* grid-template-columns: 2% 5% 61% 5% 5% 5% 5% 5% 5% 2%; */
  grid-template-columns: 0.3fr 1fr 10fr 0fr;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.image {
  width: 2.2em;
  height: 2.2em;
}

.button {
  background-color: transparent;
  width: 2.2em;
  height: 2.2em;
  padding: 0;
  margin: auto;
  border: none;
  outline: none;
  cursor: pointer;
}

.wrapper {
  display: flex;
}

.button_2 {
  background-color: #333;
  color: #fff;
  font-weight: 800;
  font-size: 1em;
  margin: auto;
  width: 2.2em;
  height: 2.2em;
  border: 0.1em solid #333;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.button_2:hover {
  background-color: #fff;
  color: #333;
}

.timebar{
  background:rgb(143, 143, 143);
}


input[type="range"] {
  -webkit-appearance: none; 
  appearance: none;
  cursor: pointer; /* カーソルを分かりやすく */
  outline: none; 
  height: 14px; 
  width: 80%; /* バーの幅 */
  background: #9e9e9e; /* バーの背景色 */
  border-radius: 10px; /* バーの両端の丸み */
  border: solid 3px #cacaca; /* バー周囲の線 */
}
/* WebKit向けのつまみ */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /*  🚩デフォルトのつまみのスタイルを解除 */
  background: #990000; /* 背景色 */
  width: 24px; /* 幅 */
  height: 24px; /* 高さ */
  border-radius: 50%; /* 円形に */
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15); /* 影 */
}
/* Moz向けのつまみ */
input[type="range"]::-moz-range-thumb {
  background: #990000; /* 背景色 */
  width: 24px; /* 幅 */
  height: 24px; /* 高さ */
  border-radius: 50%; /* 円形に */
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15); /* 影 */
  border: none; /* デフォルトの線を消す */
}
/* Firefoxで点線が周りに表示されてしまう問題の解消 */
input[type="range"]::-moz-focus-outer {
  border: 0;
}
/* つまみをドラッグしているときのスタイル */
input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
}


.chart {
  position: absolute;
  top: 60px;
  right: 20%;
}

.backHome {
  display: flex;
}

.stamps {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 50px;
  gap: 28px;
  padding: 0 36px;
  position: relative;
}

.canvas {
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 50px;

}
